<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- =========================================================== -->
<!-- common header fragment found at: /WEB-INF/views/common.html --> 
 <head th:include="headerEspedsg :: headerFragment"></head>
<!-- =====================end header =========================== -->
<body>

	<SCRIPT type="text/javascript" src="resources/js/skatglobal_edit.js?ver=${user.versionEspedsg}"></SCRIPT>	
	
	<style type = "text/css">
	.ui-datepicker { font-size:9pt;}
	</style>


<table width="100%" class="text11" cellspacing="0" border="0" cellpadding="0">
	<tr>
		<td>
		
		<table width="100%" class="text11" cellspacing="0" border="0" cellpadding="0">
			<tr height="2"><td></td></tr>
				<tr height="25"> 
					<td width="20%" valign="bottom" class="tab" align="center" nowrap>
						<font class="tabLink">&nbsp;eSpedsg Roadmap</font>
						<img valign="bottom" src="resources/images/list.gif" border="0" alt="general list">
						
					</td>
					
					<td width="80%" class="tabFantomSpace" align="center" nowrap><font class="tabDisabledLink">&nbsp;</font></td>	
				</tr>
		</table>
		</td>
	</tr>

	<tr>
		<td>
		
	 		<table width="100%" class="tabThinBorderWhite" border="0" cellspacing="0" cellpadding="0">
	 	    <tr height="20"><td>&nbsp;</td></tr>
	 	    
			
			<c:if test="${not empty model.list}">
			<tr>
				<td width="2%">&nbsp;</td>
					
				<td width="98%">
				<table cellspacing="0" border="0" cellpadding="0">
			    	    <tr>
						<td >
						<table cellspacing="0" border="0" cellpadding="0">
							<colgroup class="tableHeaderField" height="20" valign="left">
								<col class="tableHeaderFieldFirst" align="center" >&nbsp;ID&nbsp;</col>
			                    <col width="20%" class="tableHeaderField" align="left" >&nbsp;ISSUE&nbsp;</col>
			                    <col class="tableHeaderField" align="left" >&nbsp;RESOURCE&nbsp;</col>
			                    <col class="tableHeaderField" align="center" >&nbsp;DESCRIPTION&nbsp;</col>
			                    <col class="tableHeaderField" align="center" >&nbsp;STATUS&nbsp;</col>
			                </colgroup>  
			                <tbody th:unless="${#lists.isEmpty(model_list)}">
			                  
				               
				               <tr th:each ="record : ${model_list}" class="tableRow" height="20" >
				               <td class="tableCellFirst" align="center" th:text="${record.id}"></td>
				               <td width="20%" class="tableCell" th:text="${record.subject}" ></td>
		                       <td class="tableCell" nowrap th:text="${record.text}"></td>
		                       <td class="tableCell" th:text="${record.description}"></td>
		                       
		                       <td class="tableCell" align="center" th:switch="${record.status}">
		                       		<p th:case="${record.status == 'G'}">
		                       			<img src="resources/images/bulletGreen.png" width="12px" height="12px" border="0">
		                       		</p>
		                       		<p th:case="${record.status == 'R'}">
		                       			<img src="resources/images/bulletRed.png" width="12px" height="12px" border="0">
		                       		</p>
		                       		<p th:case="${record.status == 'Y'}">
		                       			<img src="resources/images/bulletYellowModern.png" width="11px" height="11px" border="0">
		                       		</p>
		                       </td>
				            </tr> 
				            </tbody>
				            
			            </table>
					</td>	
					</tr>
				</table>
				</td>
			</tr>
		    </c:if>
		    
	 	    <tr height="20"><td>&nbsp;</td></tr>
	 		</table>
		</td>
	</tr>
    
</table>	
</body>
</html>
	

