/*
 * The Boostrap 4 version
 * Aligned to espedsg2.css
 *
 * https://getbootstrap.com/
 */
 .left-right-border {
   border-style: solid; 
   border-left-width: 1px; 
   border-right-width: 1px; 
   border-top-width: 0px;
   border-bottom-width: 0px;
   border-color: #D5E0CE; 
   margin-right: 10;
   margin-left: 5;
}
.left-right-bottom-border {
   border-style: solid; 
   border-left-width: 1px; 
   border-right-width: 1px; 
   border-top-width: 0px;
   border-bottom-width: 1px;
   border-color: #D5E0CE; 
 }
 
 .left-right-top-border {
   border-style: solid; 
   border-left-width: 1px; 
   border-right-width: 1px; 
   border-top-width: 1px;
   border-bottom-width: 1px;
   border-color: #D5E0CE; 
 }
 

.nav-new {
	color: black !important;  /*link is defined in espedsg.css, override*/
	background: url('images/add.png') no-repeat center right; 
	background-size: 0.8rem 0.8rem;
	background-position: right 1rem center;
}

.find {
	color: black !important;
	background: url('images/find.png') no-repeat center right; 
	background-size: 0.8rem 0.8rem;
}

.form-row  {
   margin-right: 0px !important;
   margin-left: 0px !important;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(1.8rem + 2px);  
}

.nav-link {
    display: block;
    padding: .1rem 2rem;
	margin-right : 0.3rem;
	background-color: lightgrey; /*not logically placed...*/
	color: black !important;

}

.nav-link.active {
    color: black;
    font-weight: bold;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.label {
	margin-bottom: .1rem !important;
}

/** color on responsiveness icon*/
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
   background-color: green;
}

/**color on filtered text*/
.mark, mark {
    padding: .2em;
    background-color: yellow;  /*#8FBC8F*/
}

.ui-datepicker { 
	font-size:9pt !important;
}

.required:before {
  content:"*";
  color:red;
}

.img-lightbulb {
	color: black !important; 
	background: url('images/lightbulb.png') no-repeat; 
	background-color: lightgrey;
	background-size: 0.8rem 0.8rem;
	background-position: left 0.3rem center;
}

.img-budget {
	color: black !important; 
	background: url('images/budget.png') no-repeat; 
	background-color: lightgrey;
	background-size: 0.8rem 0.8rem;
	background-position: left 0.3rem center;
}

.img-bulletgreen {
	color: black !important; 
	background: url('images/bulletGreen.png') no-repeat; 
	background-color: lightgrey;
	background-size: 0.8rem 0.8rem;
	background-position: left 0.3rem center;
}

.img-list {
	color: black !important; 
	background: url('images/list.gif') no-repeat; 
	background-color: lightgrey;
	background-size: 0.8rem 0.8rem;
	background-position: right 1rem center;
}

.img-help {
	color: black !important; 
	background: url('images/helpIcon.gif') no-repeat; 
	/**background-color: lightgrey;*/
	background-size: 0.9rem 0.9rem;
	background-position: right 1rem center;
}

/* buttons in Välj kolumner*/
button.buttons-columnVisibility {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

button.buttons-columnVisibility.active {
    background: gray; !important;
